body
{
  background-color: #24353f;
}

.login
{
  background-color: #24353f;
  
}

.sign-up
{
  position: absolute;
  top: 0;
  left: 12%;
}


.welcome
{
  background-color: #24353f;
  margin-top: 100px !important;
}